body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  color: black;
}

textarea {
  color: rgb(54, 52, 52);
}

main {
  width: 80%;
  max-width: 800px;
}

header {
  padding: 20px 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

.options {
  padding: 20px 0;
}

.options p {
  padding: 10px 0;
}

.number-input {
  padding-left: 5px;
  margin-left: 15px;
  width: 120px;
}

.inline {
  display: inline;
  margin-right: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 100%;
  min-height: 200px;
}

.letter-density p {
  font-size: 24px;
  padding-top: 10px;
}

.statistic-card {
  font-size: 24px;
  font-weight: bold;
}

header span {
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
  display: block;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .statistic-card {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 26px;
  }
  .options {
    padding: 10px;
  }
  .statictic-card, .letter-density p {
    font-size: 16px;
  }
  .p-4 {
    padding: 2px !important;
  }
}