body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  color: black;
}

textarea {
  color: rgb(54, 52, 52);
}

main {
  width: 60%;
}
header {
  padding: 20px 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

.options {
  padding: 20px 0;
}

.options p {
  padding: 10px 0;
}

.number-input {
  padding-left: 5px;
  margin-left: 15px;
  width: 120px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 100%;
  min-height: 200px;
}

.letter-density p {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.statistic-card {
  font-size: 24px;
  font-weight: bold;
}

header span {
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
  display: block;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  main {
    width: 80%;
  }
  .statistic-card {
    font-size: 18px;
  }
  
}